
<main role="main" ng-cloak id="home">
    <header id="page-top">
    <div class="header-content">
        <div class="header-content-inner">
            <h1><strong>Jira</strong> to Word</h1>
            <hr>
            <!--<p>Practice, practice, practice and get ready to pass your exam!</p>-->
            <p>Generate a word document using your Jira Issues</p>
            <!--<a href="#contact" class="btn btn-primary btn-xl page-scroll">Contact Me</a>-->
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="report">
    <br><br><br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Create a Report</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>

        <div>
            <div class="form-group">
                <label class="control-label" for="uploadBtn">Upload your issues: </label>
                <button class="btn btn-lg btn-success" class="form-control" id="uploadBtn"> upload</button>
            </div>
            <div class="form-group input-group input-group-lg">
                <span class="input-group-addon">Title</span>
                <input type="text" class="form-control" ng-model="title" placeholder="e.g. Sprint 1 Report"/>
            </div>

            <div class="form-group input-group input-group-lg">
                <span class="input-group-addon">Author(s)</span>
                <input type="text" class="form-control" ng-model="authors" placeholder="e.g. John Smith"/>
            </div>

            <br>
            <hr/>
            <div class="well">
            <h3>Select the tables you would like to add:</h3>
            <button class="btn btn-primary" ng-click="defaultSections()">Default schema report</button>
            <div ng-repeat="section in sections" class="margin10">
                <suay-combo-input list-elements="reportTables" ng-model="section.action"/>
                <div class="margin10">
                    Columns:
                    <div ng-repeat="column in section.action.columns" style="display: inline-block">
                        <input type="checkbox" class="margin10" ng-model="section.columns[column]"><span class="margin10">{{column}}</span>
                    </div>
                </div>
                <div class="margin10" ng-show="section.action.groupBy">
                    Summarize by:
                    <div ng-repeat="sumarize in section.action.groupBy" style="display: inline-block">
                        <input type="checkbox" class="margin10" ng-model="section.groupBy[sumarize]"><span class="margin10">{{sumarize}}</span>
                    </div>
                </div>
                <button class="btn btn-danger" ng-click="removeSection($index)">remove section</button>
            </div>
            <button class="btn btn-primary" ng-click="addSection()"><span class="glyphicon glyphicon-plus"/>add section</button>
                <br/><br/>
            <button class="btn btn-success btn-lg" ng-click="sendData()">Send data</button>
            </div>


        </div>
    </div>
    <br><br><br><br><br>
</section>

    <section id="usage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Usage</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
    </section>

    <section id="author">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Create a Report</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">E-Commerce</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>
</main>
