<section id="report">
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Report Generator</h2>

                <h3 class="section-subheading text-muted">Uploading your data file and creating a report</h3>
            </div>
        </div>


        <div class="form-group">
            <label class="control-label"> Export your issues from Jira (in XML) and upload them here:</label>
                <span class="fileUpload btn btn-default">
                    <span class="glyphicon glyphicon-upload"></span> Upload file
                    <input type="file" id="uploadFile" ngf-select="uploadFiles($file, $invalidFiles)"
                           ngf-max-height="10000" ngf-max-size="10MB"/>
                </span>
            <span><a href="#usage" du-smooth-scroll du-scrollspy><span class="glyphicon glyphicon-question-sign"></span> </a></span>
            <br/> <br/>
            <div class="list-group-item" ng-show="f.progress">
                <div class="progress progress-striped active">
                    <div class="progress-bar progress-bar-primary" style="width: {{f.progress}}%;">{{f.name}}
                        {{f.progress}}%
                    </div>
                </div>
            </div>

        </div>
        <!--<div>-->
        <!--<h3>Upload your issues file</h3>-->
        <!--<input type="file" id="file" name="file" class="btn btn-lg btn-success" file-model="myFile"/>-->
        <!--<uib-progressbar max="max" value="dynamic"><span style="color:white; white-space:nowrap;">{{dynamic}}%</span></uib-progressbar>-->
        <!--</div>-->
        <div class="form-group input-group input-group-lg">
            <span class="input-group-addon">Title</span>
            <input type="text" class="form-control" ng-model="title" placeholder="e.g. Sprint 1 Report"/>
        </div>

        <div class="form-group input-group input-group-lg">
            <span class="input-group-addon">Author(s)</span>
            <input type="text" class="form-control" ng-model="authors" placeholder="e.g. John Smith"/>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h3>Design your document's structure:</h3>
            </div>
            <div class="col-md-3 col-md-offset-3">
                <button class="btn btn-primary" ng-click="defaultSections()">Default structure</button>
                <button class="btn btn-danger" ng-click="clear()">clear all</button>
            </div>
        </div>

        <div>
            <div ng-repeat="section in sections" class="margin10 well">
                <h3>Section {{$index +1}}: {{section.action.name}}</h3>
                <div class="row">
                    <label class="col-md-2">Section type:</label>

                    <div class="col-md-10">
                        <suay-combo-input list-elements="reportTables" ng-model="section.action"/>
                    </div>
                </div>
                <br/>
                <div class="margin10 row" ng-show="section.action.include">
                    <label class="col-md-2">Include:</label>

                    <div class="col-md-10">
                        <div ng-repeat="type in section.action.include">
                            <div class="col-md-3">
                                <label><input type="checkbox" class="margin10"
                                              ng-model="section.include[type.type]" ng-init="section.include[type.type] = true"><span
                                    class="margin10">{{type.text}}</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="margin10 row">
                    <label class="col-md-2">Columns:</label>

                    <div class="col-md-10">
                        <div ng-repeat="column in section.action.columns">
                            <div class="col-md-3">
                                <label><input type="checkbox" class="margin10" ng-model="section.columns[column.id]"
                                              class="margin10"><span
                                    class="margin10">{{column.text}}</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="margin10 row" ng-show="section.action.groupBy">
                    <label class="col-md-2">Group sub-tasks by:</label>

                    <div class="col-md-10">
                        <div ng-repeat="sumarize in section.action.groupBy">
                            <div class="col-md-3">
                                <label><input type="checkbox" class="margin10"
                                              ng-model="section.groupBy[sumarize.id]"><span
                                    class="margin10">{{sumarize.text}}</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <button class="btn btn-danger" ng-click="removeSection($index)">remove section</button>
            </div>
            <button class="btn btn-primary pull-right" ng-click="addSection()"><span class="glyphicon glyphicon-plus"/>add
                section
            </button>
            <br/><br/>
            <div class="alert alert-danger" role="alert" ng-show="!fileUpload">
                <p>Please upload your issues (in XML format) to the application!
                    <a href="#usage" du-smooth-scroll du-scrollspy>
                        <span class="glyphicon glyphicon-question-sign"></span>
                    </a>
                </p>

            </div>
            <button class="btn btn-success btn-lg" ng-click="sendData()" ng-disabled="docReady || !fileUpload" >Send data</button>
            <a ng-show="docReady" class="btn btn-primary btn-lg" ng-href="/api/download/{{uuid}}">Download report</a>
        </div>
    </div>
    </div>
</section>
